
<h3>Satellite Counts:</h3>
<div class="counts">
  <div class="totalColor">Total: <span>{{satellites.length}}</span></div>
  <div>Space Debris: <span>{{countOfSatellitesByType("space debris")}}</span></div>
  <div>Communication: <span>{{countOfSatellitesByType("communication")}}</span></div>
  <div>Probe: <span>{{countOfSatellitesByType("probe")}}</span></div>
  <div>Positioning: <span>{{countOfSatellitesByType("positioning")}}</span></div>
  <div>Space Station: <span>{{countOfSatellitesByType("space station")}}</span></div>
  <div>Telescope: <span>{{countOfSatellitesByType("telescope")}}</span></div>
</div>
