.sortable {
    cursor: pointer;
    color: rgb(247, 250, 151);
}

.warning {
    background-color: #ffbebe;
}

table {
  color: #111;
  border-radius: 15px;
  border: 1.5px solid black;
  overflow: hidden;
  margin: 12px 0;
  min-width: 300px;
  background: rgb(227, 243, 250);
}

.header-row {
    background: #a9a7c7;
    color: #fff
}

.altRowColor {
  background: rgb(255, 249, 253);
}

th, td {
    text-align: left;
    margin: 5px 10px;
    padding: 6px;
}
